@import '../../base.scss';

.main{
    @include main-column;
    background: $dark-grey;
    padding: 50px 20px;
}

.container{
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
}

.box{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.logo{
    width: 150px;
    margin-bottom: 10px
}

.text{
    @include text;
    color: $white;
    margin: 0 0 10px;
}

.link_mail{
    @include text;
    margin: 15px 0 15px;
    text-decoration: none;
    color: $white;
    &:hover{
        color: $red;
        transition: .3s;
    }
}

.list{
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.item{
    box-sizing: content-box;
}

.link{
    width: 35px;
    height: 35px;
    box-sizing: content-box;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    width: 30px;
    height: 30px;
    &:hover {
        width: 35px;
        height: 35px; 
        cursor: pointer;
        filter: drop-shadow(0 0 5px $white);
        transition: all .3s ease-out;
    }
}

@media(max-width: 1028px){
    .box{
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media(max-width: 768px){

    .main{
        padding: 30px 20px;
    }

    .logo{
        width: 120px;
    }

    .container{
        flex-direction: column;
        align-items: flex-start;
    }

    .box{
        max-width: 100%;
    }

    .text{
        text-align: left;
    }
}